<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <header>
        <h1>
            User details Form
        </h1>
    </header>
    <main>
        <form action="/users" method="post">
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <input type="number" name="age" id="age" placeholder="Enter Age">
        <input type="email" name="email" id="email" placeholder="Enter Email">
        <input type="submit" value="Create User">
        </form>
    </main>
</body>
</html>