<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Detail</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="flex navigation">
        <a href="/">
        <h2>
            UserDetail
        </h2>
    </a>   
        <a href ='/users/new' class='button'> Add User </a>
        </div>
    </header>
        
    <main>
       <ul>
           <% users.forEach((user) => { %>
            <li class="user-card-brief">  
                    <a href='/users/<%= user.id %>' >Name: <%= user.name%></a>                 
            </li>
           <% }) %>
       </ul>
    </main>
</body>
</html>