<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>
            This is User Page
        </h1>
    </header>
    <main>
        <div class="flex red-bg ">
            <a href= '/' class='black'>
            <h3>
            UserInfo
            </h3>    
            </a>
            <a href='/users/new' class='button black'>
            Add User
            </a>
        </div>
    </main>
</body>
</html>